<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zielonytarg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".displayUserAds.DisplayUserAdvertisements"></activity>
        <activity android:name=".basicActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".advertisements.AddAdvertisementsStartActivity" />
        <activity android:name=".basicActivities.LoginActivity" />
        <activity android:name=".basicActivities.RegisterActivity" />
        <activity android:name=".basicActivities.StartActivity" />
        <activity android:name=".basicActivities.MoreInfoActivity" />
        <activity android:name=".advertisements.AdvertismentsByCityActivity" />
        <activity android:name=".basicActivities.DatabaseTestActivity" />
        <activity android:name=".basicActivities.SearchActivity" />
        <activity android:name=".basicActivities.SearchProductActivity" />
        <activity android:name=".basicActivities.DetailsActivity" />
        <activity android:name=".basicActivities.DetailsAccountActivity" />
        <activity android:name=".advertisements.AddAdvertisementsStartActivity" />
        <activity android:name=".basicActivities.LoginActivity" />
        <activity android:name=".basicActivities.RegisterActivity" />
        <activity android:name=".basicActivities.StartActivity" />
        <activity android:name=".basicActivities.MoreInfoActivity" />
        <activity android:name=".advertisements.AdvertismentsByCityActivity" />
        <activity android:name=".basicActivities.DatabaseTestActivity" />
    </application>

</manifest>